/* src/App.css */

* {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: #282c34;
  min-height: 100vh;
}

section {
  border: 1px solid #414141;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  overflow-y: auto;
  color: #fff;
}

h2 {
  color: #fff;
  margin-top: 0;
}

.image-container {
  margin-top: '20px';
  border: '1px solid #ccc';
  border-radius: '8px';
  padding: '10px';
  background-color: '#f9f9f9';
  box-shadow: '0 2px 4px rgba(0,0,0,0.1)';
  display: 'flex';
  justify-content: 'center';
  align-items: 'center';
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 5px;
}

.window-content {
  display: flex;
  gap: 20px;
  height: 75vh;
  overflow-y: auto;
}

.segmentation-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 1rem;
}